.apartments {
  position: relative;
  padding-top: 120px;

  &::before {
    content: "III";

    right: calc(50% + 555px);
    // 550px - половина ширины контейнера
    transform: translate(50%, 0);

    @include decorNumber;
    top: 140px;
  }
}
.apartments__title {
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 44px;
  }
}
.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
