.benefits {
  position: relative;
  padding-top: 120px;

  &::after {
    content: "II";

    position: absolute;
    top: 0;
    left: calc(50% + 555px);
    // 550px - половина ширины контейнера
    transform: translate(-50%, 0);

    opacity: 0.02;
    font-family: $font-accent;

    font-size: 400px;
    line-height: 0.6;
  }
}

.benefits__row {
  display: flex;
  column-gap: 70px;
}
.benefits__item {
  text-align: center;
}
.benefits__item-img {
  margin-bottom: 53px;
}
.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: $font-secondary;
  font-weight: 300;
}
